<h1>Product List</h1>
{{#each products}}
<ul>
    <li>
        <h2>{{this.name}}</h2>
        <p>Price: ${{this.price}}</p>
        <p>Description: {{this.description}}</p>
        <a href="/products/{{this._id}}">View Details</a>
        <form action="/cart/add/{{this._id}}" method="POST">
            <button type="submit">Add to Cart</button>
        </form>
    </li>
</ul>
{{/each}}

<!-- Botón para volver al inicio -->
<a href="/" class="button">Volver al inicio</a>
