<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos en Tiempo Real</title>
</head>
<body>

    <h2>Agregar Producto</h2>
    <form id="productForm">
        <input type="text" id="name" placeholder="Nombre" required>
        <input type="text" id="description" placeholder="Descripción" required>
        <input type="text" id="code" placeholder="Código" required>
        <input type="number" id="price" placeholder="Precio" required>
        <input type="text" id="status" placeholder="Estado" required>
        <input type="number" id="stock" placeholder="Stock" required>
        <input type="text" id="category" placeholder="Categoría" required>
        <button type="submit">Agregar</button>
    </form>
        <h1>Lista de Productos en Tiempo Real</h1>

    <!-- Lista de productos -->
    <ul id="productList">
        {{#each products}}
            <li id="product-{{this.id}}">
                {{this.name}} - ${{this.price}} (Stock: {{this.stock}})
                <button onclick="deleteProduct('{{this.id}}')">Eliminar</button>
            </li>
        {{/each}}
    </ul>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"></script>
</body>
</html>
